@using Microsoft.AspNetCore.Identity
@using Project.Models;
@model User
@{
    ViewData["Title"] = "Account Info";
    Layout = "/Views/Application/_ApplicationLayout.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @ViewBag.ErrorMessage
    <div class="row">

        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-primary">
                    <div>
                        Name
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-primary">
                    <div>
                        Email
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

    </div>

    <!--NAME-->
    <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-primary">
                    <div>
                        Password
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
</form>